!!!XML
!!!
%html
	%head
		%title
			Twalo

		%script{ :src =>'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' }
		%script{ :src => '/scripts/raphael/raphael.js' }
		
	%body
		#main
			= yield